{% extends "app/layout.html" %}

{% block content %}

<div class=" content">

    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>


    <p>
        “О-Псков” – довольно молодой, но динамично развивающийся клуб*, который с момента своего образования в 2015 году объединил большое количество спортсменов-ориентировщиков Псковской области, а также просто любителей этого вида спорта разных возрастов. На данный момент около полусотни спортсменов принимают активное участие в жизни клуба, ещё около трехсот различных участников ежегодно регистрируются на наши спортивные мероприятия, а общее число подписчиков группы ВК превысило 1,6 тыс.
    </p>
    <br />
    <p>
        Наш  клуб прошёл путь от небольшой группы единомышленников, совместно выезжающих на соревнования, до крупного клубного объединения, которое теперь самостоятельно проводит соревнования, на постоянной основе ведёт тренировочный процесс, организует коллективные выезды членов клуба на региональные и всероссийские соревнования, составляет спортивные карты, занимается другими организационными вопросами (регистрация на соревнования, контроль выполнения и присвоения спортивных разрядов, взаимодействие с Федерацией спортивного ориентирования Псковской области).

        Помимо ориентирования мы также любим рогейны и трейлы, бегаем их и проводим свои клубные старты.
    </p>
    <br />

    <p>
        На данный момент ежегодный календарь наших спортивных мероприятий включает 3 крупных рогейна (Псковский городской рогейн, рогейн «Древлянские игры», рогейн «Кубок реки Великой»), около десятка соревнований по спортивному ориентированию и множество тренировочных стартов в городской черте и пригородах.

        Инициатором создания клуба является Василий Абросимов, который несколько лет был основным идейным «генератором» его развития и продолжает оставаться его руководителем. Благодаря Василию клуб стал узнаваем не только в Псковской области, но и других регионах – у него появилась своя символика, спортивная форма, сайт и т.д.

        Основная цель клуба – это популяризация спортивного ориентирования и рогейна как видов спорта и активного отдыха, а также повышение уровня спортивного мастерства членов клуба. Активную помощь нам оказывают волонтёры, за что им огромное спасибо! На протяжении всего существования клуба различные компании поддерживали нашу деятельность, выступая в качестве  спонсоров соревнований. Мы благодарны всем, кто поддерживал «О-Псков» в трудную минуту, старался сделать наш клуб лучше, а наши спортивные мероприятия ярче.

        С каждым годом количество участников наших стартов увеличивается. Растёт и мастерство наших спортсменов, которые регулярно занимают призовые места на местных и региональных соревнованиях, а также пополняют свои разрядные книжки новыми достижениями.

        Наш клуб всегда рад новым участникам – записывайтесь в детскую и взрослую секции и приходите к нам на тренировки!
    </p>
    <br />

    <p> Откройте для себя увлекательный мир спортивного ориентирования!</p>
    <br />

    <p>
        Записывайтесь к нам в детскую или взрослую секцию!
    </p>
</div>

{% endblock %}
