{% extends "app/layout.html" %}

{% block content %}
<div class="class">

    <h2>{{ title }}.</h2>
    <h3>{{ message }}</h3>

    <address>
        <div class="class">
            По всем вопросам можно обратиться к  руководителю нашего клуба  <a href=" https://vk.com/ivanovnikolaipskov?from=search "> Иванов Николай</a> <br />
            Написать нам в:<br />
            VK:<a href="https://vk.com/skopskov"> skopskov</a><br />
            телеграмме:<a href="https://web.telegram.org/k/#-1405583806"> O-Псков</a><br />
        </div>
    </address>

    <address>

    </address>
    </div>
    {% endblock %}
