{% extends "app/layout.html" %}

{% block content %}

<div class="class">
    <h1> {{title}}.</h1>

    <hr />
    <div>

        <h2> Осенний спринт 2024</h2>
        <VIDEO src="/media/post1.mp4" controls="controls" width="700" height="900" poster="/media/poster1.jpg"></VIDEO>

    </div>
    <hr />
    <div>
        <h2> ЧИП псковской области 2024</h2>
        <VIDEO src="/media/post2.mp4" controls="controls" width="700" height="900" poster="/media/poster2.jpg"></VIDEO>

    </div>
    </div>

    {% endblock %}
